fastapi
uvicorn
python-multipart
pandas==2.2.2
spacy==3.7.4
langchain==0.2.6
langchain-community==0.2.6
langchain-core==0.2.43
langchain-text-splitters==0.2.4
langsmith==0.1.147
faiss-cpu==1.8.0
tiktoken==0.7.0
PyMuPDF==1.24.5
easyocr==1.7.1
google-generativeai
langchain-google-genai
python-dotenv==1.2.2


